body {
    font-family: Times New Roman, Arial;
    margin-top: 260px;
  }
  
  header {
    text-align: center;
    background-color: #eeeeee;
    padding-top: 0px;
    padding-bottom: 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 10px solid #2F5A78
  }
  
  header img {
    float: center;
    transition: transform 1s ease; 
  }
  header img:hover {
    transform: scale(1.3);
  }
  
  #position {
    font-size: 20px;
    font-weight: bold;
  }
  
  h1 {
      font-size: 28px;
      text-transform: uppercase;
  }
  
  h2 {
    color: #2F5A78;
    font-size: 20px;
    padding-bottom: 2px;
    border-bottom: 1px solid #2F5A78;
  }

  .summary {
    font-size: 1
  8px;
    line-height: 15px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border:2px solid black;
    padding: 7px;
    text-align: center;
  }
  th { 
    background-color: #2F5A78; 
    color: #FFFFFF;
  }
  
  input[type='text'], input[type='email'] {
    border: 1px solid #2F5A78;
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
  }

  textarea {
    border: 1px solid #2F5A78;
    width: 203px;
    padding: 5px;
    margin-bottom: 5px;
  }

  label {
    font-weight: bold;
    color: #2F5A78;
  }

  input[type='submit'] {
    background-color: #2F5A78;
    border: none;
    border-radius: 7px;
    padding: 7px 15px;
    font-weight: bold;
    color: white;
    margin-bottom: 7px;
  } 
  
  ul{
    margin: 0px;
  }
  
  li b {
    color: #2F5A78;
  }
  li {
    margin-bottom: 5px;
  } 
  
  footer a {
    color: #e99f4b;
    text-decoration: none;
  }

  footer {
    text-align: center;
  padding: 16px;
  background-color: #eeeeee;
}
  
  footer img {
    float: center;
    transition: transform 0.5s ease; 
  }
  footer img:hover {
    transform: scale(1.3);
  }
  